body{
  padding: 50px;
}
.content {
  width: 800px;
  margin: 0 auto;
}
.room-box {
  background-color: #ddd;
  margin-bottom: 1em;
}
.room-list {
  float: right;
  height: 300px;
  width: 100px;
}
.message {
  width: 690px;
  height: 300px;
  overflow: auto;
  background: #eee;
  margin-bottom: 1em;
  /*margin-right: 10px;*/
}